@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


/* shared styles */
.display_flex {
  display: flex;
}

/*  dark 02 */
.text_gray {
  color: #424242;
}

/* dark 03 */
.text_light_gray {
  color: #727272;
}

.bg_light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn_primary {
  color: white;
  background-color: #FF900E;
  width: 180px;
  height: 4rem;
  font-weight: 600px;
  font-size: 1.3rem;
  border-radius: 8px;
  padding: 20px 25px;
  /* border: 1px solid white; */
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}


/* main styles */
.teams {
  /* margin-top: 50px; */
  align-items: center;
}

.team_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our_features {
  margin: 0 auto;
  max-width: 540px;
  text-align: left;
  align-items: center;

}

.section_title {
  font-size: 2.8rem;
}

#quick_list {
  font-weight: 500px;
}

.feature {
  color: #FF900E;
}

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

/* .nav_links{
  align-items: center;
} */

.brand {
  font-weight: bold;
  font-size: 3rem;
}

.nav_item {
  list-style: none;
  margin-right: 30px;
}

.nav_link {
  text-decoration: none;
  font-weight: 500px;
}

.navbar,
.banner,
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles */
.banner_content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner_title {
  font-weight: 700px;
  font-size: 4rem;
}

.banner_image {
  width: 100%;
}

/* Feature Section Styles */

.features {
  gap: 100px;
}

#feature_section_title {
  border-left: 5px solid orange;
  padding: 30px;
}

.feature_card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.feature_card .feature_title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#experience_badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -60px;
  margin-top: -100px;
  background-color: #FF900E;
  border-radius: 8px;
  padding: 20px 25px;
  width: 300px;
  border: none;
  /* height: 200px; */
  color: white;
}

#experience_year {
  font-size: 4rem;
  font-weight: 700;
}

.featured_architect img {
  width: 100%;
}


/* Facts Related styles */

.facts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.fact_card {
  border: 1px solid orange;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact_number {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}



/* sponsor section  */
.sponsor_info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;

}

.sponsor_comapanies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor_comapanies img {
  filter: grayscale(100%);
}

.footer{
  width: 100%;
  height: 50px;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-top: 23px;
  font-size: 1.25rem;
  /* visibility: hidden; */
  /* display: none; */
}

/* responsive media query */

@media screen and (max-width:576px) {

  .navbar,
  .navlinks,
  .teams,
  .features {
    flex-direction: column;
  }

  .team_image_container,
  .facts_container,
  .sponsor_comapanies {
    grid-template-columns: repeat(1, 1fr);
  }

  .facts_container {
    justify-items: center;
    gap: 24px;
  }

  .our_features {
    margin-left: 20px;
  }

  .sponsor_comapanies {
    justify-items: center;
    gap: 50px;
  }

  #experience_badge {
    margin-top: -20px;
    margin-left: 20px;
  }
  .footer{
    font-size: 10px;
    padding-top: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

  .teams,
  .features {
    flex-direction: column;
  }

  .our_features {
    margin: 50px auto;
  }

  .sponsor_comapanies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }

  .facts_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  #experience_badge {
    margin-top: -40px;
    margin-left: 20px;
  }
}